<div class="content">
    <p>Electronics</p>
    <owl-carousel-o [options]="customOptions">

      <ng-container *ngFor="let product of tech">
          <ng-template carouselSlide [width]="300">
              <a  [routerLink]="['/details' , product.id]" target="_blank">
                  <img [src]="product.thumbnail" [alt]="product.title" [title]="product.title">
                  <p>{{product.description}}</p>
                  <span class="price">
                      <span class="currency">$</span>
                      {{product.price}}
                  </span>
              </a>
          </ng-template>
        </ng-container>
    
    </owl-carousel-o>
</div>

<div class="content">
    <p>Personal Care</p>
    <owl-carousel-o [options]="customOptions">

      <ng-container *ngFor="let product of personalCare">
          <ng-template carouselSlide [width]="300">
              <a  [routerLink]="['/details' , product.id]" target="_blank">
                  <img [src]="product.thumbnail" [alt]="product.title" [title]="product.title">
                  <p>{{product.description}}</p>
                  <span class="price">
                      <span class="currency">$</span>
                      {{product.price}}
                  </span>
              </a>
          </ng-template>
        </ng-container>
    
    </owl-carousel-o>
</div>


<div class="content">
    <p>Homedecoration</p>
    <owl-carousel-o [options]="customOptions">

      <ng-container *ngFor="let product of homeDecoration">
          <ng-template carouselSlide [width]="300">
              <a  [routerLink]="['/details' , product.id]" target="_blank">
                  <img [src]="product.thumbnail" [alt]="product.title" [title]="product.title">
                  <p>{{product.description}}</p>
                  <span class="price">
                      <span class="currency">$</span>
                      {{product.price}}
                  </span>
              </a>
          </ng-template>
        </ng-container>
    
    </owl-carousel-o>
</div>



<div class="content">
    <p>Women's fashion</p>
    <owl-carousel-o [options]="customOptions">

      <ng-container *ngFor="let product of women">
          <ng-template carouselSlide [width]="300">
              <a  [routerLink]="['/details' , product.id]" target="_blank">
                  <img [src]="product.thumbnail" [alt]="product.title" [title]="product.title">
                  <p>{{product.description}}</p>
                  <span class="price">
                      <span class="currency">$</span>
                      {{product.price}}
                  </span>
              </a>
          </ng-template>
        </ng-container>
    
    </owl-carousel-o>
</div>



<div class="content">
    <p>Men's fashion</p>
    <owl-carousel-o [options]="customOptions">

      <ng-container *ngFor="let product of men">
          <ng-template carouselSlide [width]="300">
              <a  [routerLink]="['/details' , product.id]" target="_blank">
                  <img [src]="product.thumbnail" [alt]="product.title" [title]="product.title">
                  <p>{{product.description}}</p>
                  <span class="price">
                      <span class="currency">$</span>
                      {{product.price}}
                  </span>
              </a>
          </ng-template>
        </ng-container>
    
    </owl-carousel-o>
</div>
