<div class="container box">
    <div class="row" *ngIf="!loading">
        <div class="col-md-7 col-sm-12">
            <img src="{{data.images[0]}}" alt="{{data.title}}">
        </div>
        <div class="col-md-5 col-sm-12">
            <div class="info">
                <p>{{data.description}}</p>
                <hr>
                <ul class="list-unstyled">
                    <li class="price"><span>$</span> {{data.price}}</li>
                    <li><strong>Brand</strong> {{data.brand}}</li>
                    <li><strong>Title</strong> {{data.title}}</li>
                    <li><strong>Rate</strong>  {{data.rating}}</li>
                    <li><strong>Category</strong> {{data.category}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center w-100" *ngIf="loading">
        <app-spinner></app-spinner>
    </div>
</div>